sw.gcx.pw:443 {
    tls /opt/acme/gcx.pw/gcx.pw/certificates/_.gcx.pw.crt /opt/acme/gcx.pw/gcx.pw/certificates/_.gcx.pw.key
    proxy / swirl_swirl:8001 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-For {remote}
        header_upstream X-Forwarded-Port {server_port}
        header_upstream X-Forwarded-Proto {scheme}
    }
}
